.h-32 {
	height: 32px !important;
}
.h-50 {
	width: 50px !important;
}
.height-50 {
	height: 50px;
}
.h-400 {
	height: 400px;
}
.h-350 {
	height: 350px !important;
}
.h-200 {
	height: 200px;
}
.h-250 {
	height: 250px !important;
}
.h-270 {
	height: 270px !important;
}
.h-280 {
	height: 280px !important;
}
.h-290 {
	height: 290px !important;
}
.h-265 {
	height: 265px;
}
.h-365 {
	height: 365px !important;
}
.h-300 {
	height: 300px;
}
.h-330 {
	height: 330px;
}
.h-335 {
	height: 335px;
}
.h-4 {
	height: 1rem;
}
.h-6 {
	height: 6px;
}
.h-15 {
	height: 15%;
}
.h-10 {
	height: 10%;
}
.h-20 {
	height: 20%;
}