.widget small {
	font-size: 18px;
}
.card-widget i {
	font-size: 2rem;
}
.widget-info i {
	width: 100px;
	height: 100px;
	padding: 27px 0;
	text-align: center;
	border-radius: 50%;
	font-size: 53px;
}
.widget-box-2 .widget-detail-2 {
	text-align: right;
	.pie-colours-2 {
		padding: 5px 10px;
	}
}
.widget-1 i {
	font-size: 68px;
	color: #fff;
	opacity: 0.4;
}
.widget-2 i {
	font-size: 40px;
}
.widget-3 i {
	font-size: 90px;
}
.widget-card {
	text-align: center;
	padding: 30px;
}