$background: #eceef9;
$color:#7490BD;

// Color variables
$primary:#7673e6 ;
$secondary:#b03cd5;
$success:#22e840;
$warning:#ffb209;
$danger:#ff473d ;
$info:#01b8ff;
$pink:#e618f2;
$purple:#800080;
$orange:#f47b25;
$dark:#3a3956;
$indigo:#6574cd;
$white:#ffffff;
$black:#000000;
$muted:#bdcce5;


// shadow variables
$shadow: 0 0 0 1px rgba(61, 119, 180, 0.12), 0 8px 16px 0 rgba(91, 139, 199, 0.24);

// border variables
$border: #e7effc;


// dark theme
$dark-theme:#243253;

	

